:root {
  --container-bg-color: #333;
  --left-bg-color: rgba(207, 194, 194, 0.068);
  --left-splitButton-hover-color: rgba(207, 194, 194, 0.3);
  --right-bg-color: rgba(207, 194, 194, 0.068);
  --right-splitButton-hover-color: rgba(207, 194, 194, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: #262626;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #003b59;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.splitButton {
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  height: 3.5rem;
  width: 15rem;
  text-align: center;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
}
.splitH1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.splitH5 {
  font-size: 3rem;
  color: #fff;
  position: realtive;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2%;
}

.split.left .splitButton:hover {
  background-color: var(--left-splitButton-hover-color);
  border-color: var(--left-splitButton-hover-color);
}

.split.right .splitButton:hover {
  background-color: var(--right-splitButton-hover-color);
  border-color: var(--right-splitButton-hover-color);
}

.ele {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url("../images/header-background.jpg") center center no-repeat;
  background-size: cover;
}

.split.left:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}

.split.right {
  right: 0;
  background: url('../images/Moon.jpg') center center no-repeat;
  background-size: cover;
}

.split.right:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
}

.split.left,
.split.right,
.split.right:before,
.split.left:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-left .right:before {
  z-index: 2;
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

.hover-right .left:before {
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .split {
    width: 100%;
    height: 50%;
  }

  .split.left {
    top: 0;
  }
  .split.left:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
  }

  .split.right {
    bottom: 0;
  }
  .split.right:before {
    width: 100%;
    height: 50%;
  }

  .splitH1 {
    font-size: 2.5rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
  }
  
}